* {
  padding: 0;
  margin: 0;
}


body.dark {
  font-family: 'Comfortaa', cursive;
  background-color: black;
  color: white;
  transition: 0.5s;
}
body {
  font-family: 'Comfortaa', cursive;
  background-color: white;
  color: black;
  transition: 0.5s;
}

header {
  border-bottom: 5px solid orange;
}

.container {
  width: 95%;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 0;
}

.nav h2 {
  font-size: 2rem;
}

.search-box {
  position: relative;
  width: 350px;
}

.search-box input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: 8px;
  border-radius: 25px;
  outline: none;

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  border: 1px solid #DDDDDD;

}

input:focus {
  box-shadow: 0 0 5px orange;
  border: 1px solid orange;
}

.search-box i {
  color: black;
  position: absolute;
  top: 25%;
  right: 4%;
  transition: 1.5s;
}

.search-box i:hover {
  color: orange;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.img{
  margin: 5px;
  transition: 1s; 
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.75);
}

.img:hover{
  border: 2px solid rgba(6, 228, 6, 0.7);
  transform: scale(1.12);
}

.img.dark{
  margin: 5px;
  transition: 1s;
  box-shadow: 5px 5px 10px 0px rgba(202, 202, 202, 0.5);
}


footer {
  text-align: center;
  margin: 50px;
}

/*Dark Mode*/

#light-dark {
  margin: 7px 14px;
  position: relative;
}

* {
  box-sizing: border-box;
}
.checkbox {
	opacity: 0;
	position: absolute;
}
.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

@media(max-width: 768px) {
  .img{
    margin: 5px;
    transition: 1s;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.75);
  }
  .img:hover{
    border: 2px solid rgba(6, 228, 6, 0.7);
    transform: scale(1.12);
  }  
  .nav {
    justify-content: center;
  }
  .nav h2 {
    padding: 5px 0;
  }
  #light-dark {
    transform: scale(0.7);
  }
  .fa-moon {
    color: #f1c40f;
    transform: scale(1);
  }
  
  .fa-sun {
    color: #f39c12;
    transform: scale(1);
  }
}

@media(max-width: 480px) {
  .nav {
    text-align: center;
    font-size: 1.5rem;
  }
  .search-box {
    width: 80%;
    margin: auto;
  }
  .search-box input {
    font-size: .7rem;
  }
  #light-dark {
    transform: scale(0.7);
  }
  .fa-moon {
    color: #f1c40f;
    transform: scale(0.6);
  }
  
  .fa-sun {
    color: #f39c12;
    transform: scale(0.6);
  }
}